<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <File name="URLError" fileName="logs/url_error.log">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} %msg%n"/>
            <Filters>
                <MarkerFilter marker="URL_ERROR" />
            </Filters>
        </File>
        <File name="InvalidString" fileName="logs/not_parsed.log">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} %msg%n"/>
            <Filters>
                <MarkerFilter marker="INVALID_STRING" />
            </Filters>
        </File>
    </Appenders>

    <Loggers>
        <root level="info">
            <appender-ref ref="URLError" />
            <appender-ref ref="InvalidString" />
        </root>
    </Loggers>
</Configuration>